<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Título de la receta -->
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <!-- Subir imagen -->
    <ion-item>
      <input type="file" (change)="onFileSelected($event)" accept="image/*">
    </ion-item>

    <!-- Vista previa de la imagen -->
    <ion-item *ngIf="imagePreview">
      <img [src]="imagePreview" alt="Vista previa de la imagen" style="width: 100%; max-height: 200px;">
    </ion-item>

    <!-- Descripción de la receta -->
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>

    <!-- Categoría de la receta -->
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="categoria">
        <ion-select-option value="desayuno">Desayuno</ion-select-option>
        <ion-select-option value="almuerzo">Almuerzo</ion-select-option>
        <ion-select-option value="cena">Cena</ion-select-option>
        <ion-select-option value="postre">Postre</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Seleccionar un ingrediente predeterminado -->
    <ion-item>
      <ion-label>Seleccionar Ingrediente</ion-label>
      <ion-select [(ngModel)]="ingrediente">
        <ion-select-option *ngFor="let item of globalItems" [value]="item.nombre">{{ item.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campos para ingresar la cantidad y la unidad del ingrediente -->
    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="cantidadIngrediente"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Unidad</ion-label>
      <ion-select [(ngModel)]="unidadIngrediente">
        <ion-select-option value="gramos">Gramos</ion-select-option>
        <ion-select-option value="ml">Mililitros</ion-select-option>
        <ion-select-option value="unidad">Unidad</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón para añadir el ingrediente -->
    <ion-item>
      <ion-button (click)="addIngredient()">Añadir Ingrediente</ion-button>
    </ion-item>

    <!-- Lista de ingredientes añadidos -->
    <ion-list>
      <ion-item *ngFor="let ing of ingredientes">
        {{ ing.nombre }} - {{ ing.cantidad }} {{ ing.unidad }}
      </ion-item>
    </ion-list>

    <!-- Botón para guardar la receta -->
    <ion-button expand="full" (click)="addRecipe()">Agregar Receta</ion-button>
  </ion-list>
</ion-content>
