.welcome-message {
    text-align: center;
    margin-top: 50px;
  }
  
  .welcome-message h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .welcome-message p {
    font-size: 18px;
    margin: 15px 0;
  }
  
  ion-button {
    margin-top: 20px;
  }